body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.header {
  background-color: #4CAF50;
  padding: 20px;
  color: white;
  text-align: center;
}

.container {
  padding: 20px;
}
